@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	margin: 0px;
	min-width: 580px;
	text-align: center;
	font-family: 'Open Sans', 'sans-serif';
	background-color: #EEEEEE;
}

html, body, #wrap {margin: 0px; height: 100%;}

body > #wrap {height: auto; min-height: 100%;}

#content{
	padding-top: 10px;
	padding-bottom: 140px;
}

header {
	color: white;
	background-color: #404040;
	padding: 15px;
	text-align: left;
	vertical-align: text-bottom;
}

header #titre {
	font-size: 1.4em;
	font-weight: bold;
}


header a {
	display: inline-block;
	color: white;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

header #path {
	margin-left: 5px; 
}

h1 {
	margin: 0;
	padding: 40px;
}

h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #404040;
}

section {
	margin: 0;
	padding-top: 5px;
	padding-bottom: 20px;
	background-color: white;
}

a {
	text-decoration: none;
}

table{
	margin:auto;
}

form td{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	font-size: 16pt;
}

td img{
	cursor: pointer;
}

.warning{
	color: red;
}

select{
	font-size: 15pt;
}

input{
	border-radius: 5px;
	font-size: 16pt;
}

aside {
	min-width: 300px;
	background-color: grey;
}

footer {
	position: relative;
	margin-top: -140px;
	height: 140px;
	line-height: 40px;
	vertical-align: middle;
	clear: both;
	background-color: #404040;
	color: white;
}
