body  {
    margin: 0px;
    overflow: hidden;
}

#loading {
    text-align: center;
    margin-top: 100px;
    font-size: 90px
}

#canvasContainer {
    position: relative;
}

#mapCanvas {
    position: absolute;
    background-color: #DADADA;
}

#charactersCanvas{
    position: absolute;
    background-color: transparent;
}

#message {
    position: absolute;
    display: none;
}

#messageInput{
    width:350px;
    height: 30px;
    font-size: 16pt;
    cursor: default;
    border-radius: 8px;
}

#messageSend{
    color: transparent;
}

#regCont {
    position: absolute;
    display: none;
    overflow: hidden;
}

#infoBox{
    position: absolute;
    background-color: rgb(75, 75, 75);
    color: whitesmoke;
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid #cccccc;
    border-radius: 15px;
    display: none;
    overflow-y: scroll;
}

#infoBox a{
    color: #FFC747;
}

#infoBox h1{
    text-align: center;
    font-family: sans-serif;
}

.info{
    font-family: sans-serif;
    font-size: 16pt;
}

#imgmap{
    position: relative;
}

#register{
    position: absolute;
    display:none;
}

#nameInput {
    width: 350px;
    padding: 25px;
    border-radius: 5px;
    border: 0px none;
    font-size: xx-large;
}

#nameSubmit{
    padding: 25px 20px;
    border: 0px none;
    border-radius: 5px;
    font-size: xx-large;
    cursor: pointer;
}

#navbar{
    display: none;
    position: absolute;
    overflow: hidden;
    width: 1060px;
    height: 60px;
    background-color: rgb(147, 169, 213);
    padding: 10px;
    border: 2px solid #cccccc;
    border-radius: 15px;
}

.navbutton{
    width: 55px;
    height: 55px;
    border: 0;
    background: 0;
    border-radius: 18px;
    margin: 3px;
}

.spaced{
    margin-right: 63px;
}

.navbutton:hover{
    box-shadow: 0px 0px 5px 2px white;
    cursor: pointer;
}

#registerInfo{
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 20pt;
}
